*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

button {
    cursor: pointer;
    background: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

blockquote, q {
    quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
	--colors-neutral-0: #fff;
	--colors-neutral-100: #f6f8ff;
	--colors-neutral-300: #697c9a;
	--colors-blue-500: #0079ff;
	--colors-neutral-500: #4b6a9b;
	--colors-neutral-700: #2b3442;
	--colors-neutral-800: #1e2a47;
	--colors-neutral-900: #141d2f;
	--colors-blue-300: #60abff;
	--colors-neutral-200: #90a4d4;
	--colors-red-500: #f74646;
}

[data-theme="light"] {
  --color-bg: #f6f8ff;
  --color-fg: #141d2f;
  --color-f: #fff;
  --color-sh: 0 16px 30px -10px rgba(70, 96, 187, 0.2);
  --color-pr: #f6f8ff;
  --color-date: #4b6a9b;
  --color-label: #2b3442;
  --color-value: #2b3442;
  --color-text:#4b6a9b;
  --color-fill: #141d2f;
  --color-socials: #4b6a9b;
  --color-title: #2b3442;
  --color-path: #2B3442;
  --color-path-mobile: #4b6a9b;
  --color-toggle: #2b3442;
  --color-toggle-mobile: #4b6a9b;
}

[data-theme="dark"] {
  --color-bg: #141d2f;
  --color-fg: #9e9c9c;
  --color-f: #1e2a47;
  --color-pr: #141d2f;
  --color-date: #fff;
  --color-label: #fff;
  --color-value: #fff;
  --color-text:#fff;
--color-fill: #fff;
  --color-socials: #fff;
  --color-title: #fff;
  --color-path: #fff;
  --color-path-mobile: #90a4d4;
  --color-toggle: #fff;
  --color-toggle-mobile: #90a4d4;
}


.container {
    max-width: 730px;
    margin: 0 auto;
}

body {
    transition: background-color 0.3s ease;
    background-color: var(--color-bg);
    color: var(--color-fg);
	font-family: "Space Mono", sans-serif;;
}

body.light-theme {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.2);
}

body.dark-theme {
    background-color: var(--colors-neutral-900);
    color: var(--colors-neutral-0);
}

.hero {
	margin-top: 130px;
	margin-bottom: 200px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.hero__top {
    display: flex;
    justify-content: space-between;
}

.hero__title {
	font-weight: 700;
	font-size: 26px;
	line-height: 100%;
    color: var(--color-title);
}

#themeToggle {
	font-weight: 700;
	font-size: 13px;
	line-height: 140%;
	letter-spacing: 0.19em;
	text-align: right;	display: flex;
	align-items: center;
	gap: 16px;
    flex-direction: row-reverse;
    color: var(--color-toggle);
}

#themeToggle svg path{
    fill: var(--color-path);
}   

.hero-search {
	background: var(--color-f);
	box-shadow: var(--color-sh);
	border-radius: 16px;
	padding: 8px 12px 8px 24px;
	width: 730px;
	position: relative;
	display: flex;
	justify-content: space-between;
    transition: all 0.6s ease;
    width: 100%;

}

.hero-search::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 24px;
	transform: translateY(-50%); 
	width: 24px;
	height: 24px;
	background-image: url('/search.png');
	background-repeat: no-repeat;
	background-size: contain; 
	background-position: center;
	pointer-events: none;
}


.hero-search__input {
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	color: var(--color-fg);
	padding-left: 44px;
	flex-grow: 1;
    width: 100%;
    position: relative;
}

.hero-search__button {
    border-radius: 10px;
    padding: 12px 24px;
    width: 107px;
    height: 48px;
    background: var(--colors-blue-300);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: var(--colors-neutral-0);
    transition: all 0.6s ease;
}

.hero-search__button:focus {
   box-shadow: 0 0 0 1px var(--colors-blue-500), 0 0 0 1px var(--colors-neutral-800);
    background: var(--colors-blue-500);
}

.hero__footer {
	background: var(--color-f);
	box-shadow: var(--color-sh);
	border-radius: 16px;
	padding: 48px 53px 48px 48px;
	transition: all 0.6s ease;
}

.hero__footer-profile {
    display: flex;
    gap: 32px;
}

.hero__footer-info {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.hero__footer-user {
    display: flex;
    flex-direction: column;
}

.hero__footer-name {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    color: var(--color-title);
}

.hero__footer-username {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--colors-blue-500);
}

.hero__footer-date {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    text-align: right;
    color: var(--color-date);
}

.hero__footer-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: var(--color-text);
    opacity: 0.75;
}

.hero__footer-stats {
	display: flex;
	margin-top: 24px;
	transition: all 0.6s ease;
}

.hero__footer-text {
    margin-top: 24px;
}

.hero__footer-socials {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
	margin-top: 24px;
}

.hero__footer-avatar img{
	display: flex;
	width: 100%;
	max-width: 117px;
	object-fit: contain;
	align-self: baseline;
}

.hero__footer-info-column {
	width: 100%;
}

.hero__footer-stats {
	background: var(--color-pr);
	padding: 15px 32px;
	border-radius: 10px;
}

.hero__footer-stat {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 139px;
	width: 100%;
}

.hero__footer-stat-label {
	font-weight: 400;
	font-size: 13px;
	line-height: 150%;
	color: var(--color-label);
}

.hero__footer-stat-value {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    color: var(--color-value);
}

.hero__footer-socials p {
	display: flex;
	align-items: center;
	gap: 16px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: var(--color-socials);
}

.hero__footer-socials a {
	display: flex;
	align-items: center;
	gap: 16px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: var(--color-socials);
}

.hero__footer-twitter {
    opacity: 0.7;
}

svg path {
    fill: var(--color-fill);
}

.hero-search:focus-within {
	box-shadow: 0 0 0 2px var(--colors-neutral-800), 
    0 0 0 4px var(--colors-blue-500);
}

.hero__footer-info__mobile {
    display: none;
}

.hero__error {
	background: var(--color-f);
	box-shadow: var(--color-sh);
	padding: 48px;
	border-radius: 16px;
	display: none;
	flex-direction: column;
	gap: 16px;
	transition: all 0.6s ease;
}

.hero__error-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    color: var(--color-title);
}

.hero__error-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: var(--colors-neutral-200);
}

.hero-search__error {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color: var(--colors-red-500);
	display: none;
	position: absolute;
	right: 18%;
	top: 30%;
}


@media(max-width:768px) {
    .hero {
        margin: 40px 32px;
    }
    .hero__footer-stats {
        flex-wrap: wrap;
        gap: 16px;
        padding: 16px;
    }
    .hero__footer-avatar img{
        flex-shrink: 0;
    }
}

@media(max-width:700px) {
    .hero__footer-profile {
        flex-wrap: wrap;
    }
    .hero__footer-socials {
        display: flex;
        flex-direction: column;
    }
    .hero__footer-info__mobile {
        display: block;
    }
    .hero__footer-info-column .hero__footer-info {
        display: none;
    }
    .hero__footer-avatar {
    width: 100%;
}

    .hero__footer-avatar {
        display: flex;
        gap: 20px;
    }
    .hero__footer-text {
        margin-top: 0;
    }
    .hero {
        margin: 32px 16px;
    }
    .hero__footer {
        padding: 32px 24px;
    }
    .hero-search__input {
        font-size: 13px;
    }
    .hero-search::before {
        left: 12px;
        width: 20px;
    }
    .hero-search__input {
        padding-left: 16px;
    }
    .hero-search__button {
        width: 99px;
        padding: 12px 20px;
    }
    #themeToggle {
        color: var(--color-toggle-mobile);
    }
    #themeToggle svg path{
    fill: var(--color-path-mobile);
}   
.hero-search__error {
	right: 123px;
}

}

@media(max-width:500px) {
    .hero__footer-avatar img {
        max-width: 70px;
    }
}